// Navigation code here
nav {
  display: flex;
  align-items: center;
  flex-flow: column;
  background-color: @nav-bg;
  padding: 20px 0;
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.8;

  h1 {
    font-size: 4rem;
    color: @nav-font;
  }

  .nav-links {
    .display-flex(space-between);
    padding-top: 20px;

    a {
      padding-right: 25px;
      font-size: 1.5rem;
      text-decoration: none;
      color: @nav-font;
      font-weight: bold;

      &:hover {
        .on-hover(@header-font-color)
      }
    }
  }
}